{% extends 'base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

    <form method="post" class="login-form">
        {% csrf_token %}
        <h2>Password Reset</h2>
        <hr>
        <table class="form-organizer">
            <tbody>
                {% for field in form %}
                    <tr>
                        <td class="field_label">
                            {{ field.label_tag }}
                        </td>
                        <td class="field_spacer"></td>
                        <td class="field_input">
                            {{ field }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <ul class="errorlist" id="errorlist_{{ field.id_for_label }}">
			                    {% for error in field.errors %}
                                    <li class="form_server_error"><b>{{ error }}</b></li>
			                    {% endfor %}
		                    </ul>
                        </td>
                    </tr>
	            {% endfor %}
            </tbody>
        </table>
        <div>
            <input type="submit" value="Reset" class="btn btn-blue" />
        </div>
    </form>

{% endblock content %}