.btn-blue {
  background-color: blue;
  color: white !important;
  text-decoration: none; }

.btn-black {
  background-color: transparent;
  color: blue; }
  .btn-black a {
    color: blue;
    text-decoration: none; }

#login-container a {
  text-decoration: none;
  color: white;
  margin-left: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em; }

#login-container button {
  margin-left: 1em; }

.login-form, .edit-form, .new-post-form, .generic-notif {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border: 3px black solid;
  border-radius: 10px;
  padding: 2em;
  width: fit-content; }
  .login-form input[type="submit"], .edit-form input[type="submit"], .new-post-form input[type="submit"], .generic-notif input[type="submit"] {
    margin-top: 0.5em; }

#reset-passwd-btn {
  margin-top: 0.5em; }

.field_spacer {
  width: 6em; }

.field_label {
  font-family: Helvetica, Arial, sans-serif;
  font-size: large; }

.errorlist {
  margin-top: 0.5em; }

.form_server_error {
  background-color: #dd1111;
  text-decoration: underline;
  border-radius: 5px;
  padding-left: 1em;
  margin-top: 0.5em; }

.messages {
  margin: 0.5em 0.5em 0 0.5em;
  list-style-type: none;
  width: auto;
  padding: 0.5em; }
  .messages li {
    padding: 0.5em;
    border-radius: 1em; }
    .messages li span {
      vertical-align: center; }
    .messages li button {
      float: right; }
  .messages .success {
    background-color: #00df00;
    color: black; }
  .messages .error {
    background-color: #dd1111;
    color: black; }
  .messages .debug {
    background-color: blueviolet;
    color: white; }

footer {
  color: white; }
  footer .copyright-bar {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: small; }

.main-content {
  margin: 1em; }

.post {
  border: 3px black solid;
  border-radius: 10px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 1em;
  padding: 1em; }
  .post .post-title {
    font-size: 1.5em; }

.post-title {
  word-wrap: break-word;
  max-width: 100%; }

.moderator-tools {
  margin-top: 0.5em;
  border: 2px #dd1111 solid;
  border-radius: 10px;
  padding: 0.5em;
  width: fit-content;
  font-size: small; }
  .moderator-tools .spacer {
    min-width: 1em;
    display: inline-block; }
  .moderator-tools a {
    font-size: small; }

#new-post-button {
  color: white; }

.new-comment-form {
  visibility: visible; }

.generic-notif {
  padding: 2em 3em; }

.profile-picture {
  max-width: 500px;
  max-height: 500px; }

.profile-container {
  margin: auto;
  border: 3px black solid;
  border-radius: 10px;
  padding: 2em;
  width: max-content;
  min-width: 50%;
  max-width: 50%; }

#birthday-div {
  border-bottom: black 2px solid;
  margin-top: 1em;
  width: fit-content; }

.post-content {
  border-left: 3px black solid;
  padding-left: 1em;
  width: 35%;
  min-width: 20em;
  word-wrap: break-word; }

.edit-form {
  width: fit-content; }
  .edit-form div:last-child a {
    margin-top: 0.5em; }

.comment {
  border-bottom: 2px black solid;
  width: 30%;
  min-width: 20em;
  max-width: 30%;
  margin-bottom: 1em; }
  .comment p {
    margin-top: 0.5em;
    word-wrap: break-word; }

.main-sec h1, .main-sec h2, .main-sec h3, .main-sec h4, .main-sec h5, .main-sec h6 {
  font-family: Helvetica, Arial, sans-serif; }

.main-sec hr {
  max-width: 60%; }

.main-sec p {
  font-family: "Times New Roman", "URW Bookman", serif;
  max-width: 60%; }

div .main-sec:not(:first-child) {
  margin-top: 3em; }

/*# sourceMappingURL=base_style.css.map */