$sans-font-stack: Helvetica, Arial, sans-serif;
$serif-font-stack: "Times New Roman", "URW Bookman", serif;
$black: #000;
$pink: #ff00cc;
$color-message-accept: #00df00;
$color-message-error: #dd1111;


.btn-blue{
  background-color: blue;
  color: white !important;
  text-decoration: none;
}


.btn-black{
  background-color: transparent;
  color: blue;
  a{
    color: blue;
    text-decoration: none;
  }
}

#login-container{
  a{
    text-decoration: none;
    color: white;
    margin-left: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
  button{
    margin-left: 1em;

  }
}

.login-form{
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border: 3px black solid;
  border-radius: 10px;
  padding: 2em;
  width: fit-content;
  input[type="submit"]{
    margin-top: 0.5em;
  }

}
  #reset-passwd-btn{
    margin-top: 0.5em;
  }


.field_spacer{
  width: 6em;
}

.field_label{
  font-family: $sans-font-stack;
  font-size: large;
}

.errorlist{
  margin-top: 0.5em;
}

.form_server_error{
  background-color: $color-message-error;
  text-decoration: underline;

  border-radius: 5px;
  padding-left: 1em;
  margin-top: 0.5em;
}

.messages{
  margin: 0.5em 0.5em 0 0.5em;
  list-style-type: none;
  width: auto;
  padding: 0.5em;
  li{
    padding: 0.5em;
    border-radius: 1em;
    span{
      vertical-align: center;
    }
    button{
      float: right;
    }
  }
  .success{
    background-color: $color-message-accept;
    color: black;
  }
  .error{
    background-color: $color-message-error;
    color: black;
  }
  .debug{
    background-color: blueviolet;
    color: white;
  }
}

footer{
  color: white;
  .copyright-bar{
    background-color: black;
    font-family: $sans-font-stack;
    font-size: small;
  }
}

.main-content{
  margin: 1em;
}

.post{
  border: 3px black solid;
  border-radius: 10px;
  font-family: $sans-font-stack;
  margin: 1em;
  padding: 1em;
  .post-title{
    font-size: 1.5em;
  }
}
  .post-title{
    word-wrap: break-word;
    max-width: 100%;
  }
.moderator-tools {
  margin-top: 0.5em;
  border: 2px $color-message-error solid;
  border-radius: 10px;
  padding: 0.5em;
  width: fit-content;
  font-size: small;

  .spacer {
    min-width: 1em;
    display: inline-block;
  }

  a {
    font-size: small;
  }
}

#new-post-button{
  color: white;
}

.new-comment-form{
  visibility: visible;
}

.generic-notif{
  @extend .login-form;
  padding: 2em 3em;
}

.profile-picture{
  max-width: 500px;
  max-height: 500px;
}

.profile-container{
  margin: auto;
  border: 3px black solid;
  border-radius: 10px;
  padding: 2em;
  width: max-content;
  min-width: 50%;
  max-width: 50%;
}

#birthday-div{
  border-bottom: black 2px solid;
  margin-top: 1em;
  width: fit-content;
}

#link-div{
  margin-top: 1em;
  width: fit-content;
}

.new-post-form{
  @extend .login-form;
}

.post-content{
  border-left: 3px black solid;
  padding-left: 1em ;
  width: 35%;
  min-width: 20em;
  word-wrap: break-word;
}

.edit-form{
  @extend .login-form;
  width: fit-content;
  div:last-child{
    a{
      margin-top: 0.5em;
    }
  }
}

.comment{
  border-bottom: 2px black solid ;
  width: 30%;
  min-width: 20em;
  max-width: 30%;
  margin-bottom: 1em;
  p{
    margin-top: 0.5em;
    word-wrap: break-word;
  }
}

.main-sec{
  h1,h2,h3,h4,h5,h6{
    font-family: $sans-font-stack;
  }
  hr{
    max-width: 60%;
  }
  p{
    font-family: $serif-font-stack;
    max-width: 60%;
  }
}

div .main-sec:not(:first-child){
  margin-top: 3em;
}
