{% extends 'base.html' %}
{% load static %}
{% block title %}
    HOME
{% endblock title %}
{% block content %}
    <section class="main-sec">
        <h1>
            Generic Header
        </h1>
        <hr>
        <p class="main-para">
            {% lorem 100 w %}
        </p>
    </section>
    <section class="main-sec">
    <h2>
        We don't steal your data<sup>**********</sup>
    </h2>
        <hr/>
    <p>
        {% lorem 400 w %}
    </p>
    </section>
    <section class="main-sec">
        <h3>Something else</h3>
    <hr/>
    <p>
        {% lorem 4 b %}
    </p>

    </section>
{% endblock content %}