{% extends 'base.html' %}
{% load static %}

{% block title %}Social Site:{{ post.title }}{% endblock title %}

{% block optional_script %}<script type="text/javascript" src="{% static 'socialSite/js/show_comment_form.js' %}"></script> {% endblock optional_script %}

{% block content %}
    <h2 class="post-title">{{ post.title }}</h2>
    <div>
        <small>By: <a href="{% url 'user_profile' post.user.username %}">{{ post.user }}</a> on {{ post.date_posted | date:"D d M Y" }} on {{ post.date_posted|time:"H:i O" }}</small>
    {% if post.is_edited %}
        This post has been edited
    {% endif %}
    </div>
    <hr>
    <div class="post-content">
        <p>{{ post.content }}</p>
    </div>
    {% if request.user.id == post.user.id or show_mod %}
        <div class="moderator-tools">
            {% if request.user.id == post.user.id %}
                <a class="btn-blue btn" href="{% url 'edit_post' post.id %}">Edit Post</a>
            {% endif %}
                <a class="btn-blue btn" href="{% url 'delete_post' post.id %}">Delete Post</a>
        </div>
    {% endif %}
    <hr class="comment-start" />
    {% if request.user.is_authenticated %}
        <button onclick="toggle_comment_form()" onload="comment_form_loaded()" id="comment-form-button" role="button" class="btn btn-blue no-highlight">+ Comment</button>
        <div id="comment-form-wrapper">
        <form method="post" id="comment-form" class="new-comment-form">
        {% csrf_token %}
            <table class="form-organizer">
                <tbody>
                    {% for field in form %}
                        <tr>
                            <td class="field_label">{{ field.label_tag }}</td>
                            <td class="field_spacer"></td>
                            <td class="field_input">{{ field }}</td>
                            <td>
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <input type="submit" value="Post" class="btn btn-blue" />
            </div>
        </form>
        </div>
    <hr>
    {% endif %}

    {% for comment in comments %}
        <div class="comment">
            By: <a href="{% url 'user_profile' comment.user %}">{{ comment.user }}</a> &nbsp; <small>On {{ comment.date_posted }}</small>
        <p>
            {{ comment.content }}
        </p>
        </div>
    {% endfor %}
{% endblock content %}