{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}

{% block content %}
    <div>
        <a class="btn btn-blue" id="new-post-button" href="{% url 'new_post' %}">+ &nbsp; Make a Post</a>
    </div>
    <hr />
    <div>
        {% for post in posts %}
            <div class="post">
                <section class="post-title">
                    <a href="/posts/{{ post.id }}">{{ post.title }}</a>
                </section>
                <hr>
                <div class="post-info">
                    <small>By: <a href="{% url 'user_profile' post.user.username %}">{{ post.user }}</a> on {{ post.date_posted | date:"d M Y" }}{% if post.is_edited %}<sup>E</sup>{% endif %}</small>
                </div>
                {% if show_mod %}
                    <div class="moderator-tools">
                        Moderator actions <span class="spacer"></span> <a class="btn btn-blue" href="{% url 'delete_post' post.id %}"><b>Delete Post</b></a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}